{% load static %}


<div id="transactions_by_layer" class="chart">
    <h4> Total transactions by layer:</h4>
    <img src="{% static  'plots/transactions_by_layer.png'%}" alt="Total transactions chart">
    <div class="info_note chart_info">
        "b-<span style="color:#79b7d3">i</span>" stands for backward layer #<span style="color:#79b7d3">i</span>. <br>
        "f-<span style="color:#79b7d3">j</span>" stands for forward layer #<span style="color:#79b7d3">j</span>.
    </div>
</div>

<div id="tagged_transactions_by_layer" class="chart">
    <h4> Tagged transactions by layer:</h4>
    <img src="{% static  'plots/tagged_transactions_by_layer.png'%}" alt="Tagged transactions chart">
</div>

<div id="tagged_tx_rto" class="chart">
    <h4> Sum of tagged transactions' RTO by layer:</h4>
    <img src="{% static  'plots/tagged_tx_rto.png'%}" alt="Transactions' RTO chart">
    <div class="info_note">
        Bars represent the sum of RTO of transactions that have been tagged, by layer. <br>
        Curves represent the total sum of RTO layer after layer.
    </div>
</div>

<div id="avg_function_time" class="chart">
    <h4> Average time taken by each function of the tool:</h4>
    <img src="{% static  'plots/avg_function_time.png'%}" alt="Average function time">
</div>


<script>
    $(document).ready(function () {
        set_height()
    })
</script>