{% extends 'base.html' %}

{% block main_content %}
    {% load static %}
    <script src="{% static 'user_interface/javascript/user_interface.js' %}"></script>
    <div id="modal_div">

    </div>
    <div id="main_row" class="row">
        <div id="left_col" class='col-6'>
            <div class="container">
                <div class="col-9" style="padding-left: 12px; padding-right: 12px; padding-top: 1rem;">
                    <h4> Track an address: </h4>
                    <form id="starting_form" class="form-group" action="{% url 'display_graph' %}">
                        {% csrf_token %}
                        <div class="form-group mb-2">
                            <label for="address_input">Input Address:</label><br>
                            <input type="text" id="address_input" class="form-control" name="address_input"><br>
                        </div>
                        <div class="form-group mb-2">
                            <div class="row">
                                <div class="col-6">
                                    <label for="layer_input">Number of layer(s):</label><br>
                                    <select id="layer_input" class="form-select" name="layer_input" style="max-width: 80px">
                                        {% for i in max_layer_number %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="rto_input">RTO threshold (in %): </label><br>
                                    <input type="text" id="rto_input" class="form-control" name="rto_input" value="0.1" style="max-width: 80px"><br>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="manual_input">Manual Mode:  </label>
                            <i class="bi bi-question-circle-fill" data-bs-toggle="tooltip" title="Manually select transactions while parsing each layer" style="margin-left: 10px"></i>
                            <br>

                            <input type="checkbox" id="manual_input" class="form-checkbox" name="manual_input"><br>
                        </div>
                        <button id="submit_starting_btn" class="btn mb-2 my-4 btn_submit" type="submit" style="margin-top: 0" disabled>
                            Start tracking!
                        </button>
                        <br>
                        <span id="invalid_input" style="color:indianred; visibility: hidden"> Please enter an address!</span>
                    </form>
                </div>

                <script>
                    $(document).ready(function () {
                        $("#starting_form").submit(function (e) {
                            e.preventDefault(); // prevent actual form submit

                            let invalid_input = $('#invalid_input');
                            invalid_input.css('visibility', 'hidden');
                            let form = $(this);

                            // Send the ws to start the parsing
                            if ($('#address_input').val() === "") {
                                invalid_input.css('visibility', 'visible')
                                return false
                            }

                            $('#submit_starting_btn').prop('disabled', true);  // Disables the submit button
                            // Reset the tabs
                            reset_graph()
                            $('#chart').html('<p style="margin-top:20px; font-style: italic"> The computed charts and statistics will appear here.</p>')

                            let values = {};
                            $.each(form.serializeArray(), function(i, field) {
                                values[field.name] = field.value;
                            });
                            $('#terminal_output').val('');

                            socket.send(JSON.stringify({
                                'message': 'It should work :(',
                                'type': 'start_parsing',
                                'data': values,
                            }));

                            return false;
                        })

                        $('[data-bs-toggle="tooltip"]').tooltip();  // Activate the tooltip windows
                    });
                </script>
                <div id="terminal_output_div" class="jumbotron .jumbotron-fluid">
                    <div class="container">
                        <label for="terminal_output"> <h4> Output Console:</h4>
                        </label>
                        <textarea id="terminal_output" class="container" readonly></textarea>
                    </div>
                </div>
                <div id="progress_div">
                    <p id="p_current_layer" class="blink_me"></p>
                    <div id="progress_bar_div">
                        <div id="progress_bar"></div>
                    </div>
                    <p id="p_current_progress"></p>
                </div>
                <div id="waiting_div">
                    <p id="p_waiting_message" class="blink_me"></p>
                    <div id="waiting_bar_div">
                        <div id="waiting_bar"></div>
                    </div>
                    <p id="p_wait_current_progress"></p>
                </div>
            </div>

        </div>


        <div id="right_col" class='col-6' style="height: 100%; padding-left: 0; padding-right: 0">
            <div id="tab_bar" style="padding-top: 0;">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <button class="tab_button nav-link active" id="graph_tab" data-bs-toggle="tab" data-bs-target="#graph_tab_content" type="button" role="tab" aria-controls="graph_tab_content" aria-selected="true" style="border-bottom-left-radius: 0;">
                            Bitcoin Graph
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="tab_button nav-link" id="chart_tab" data-bs-toggle="tab" data-bs-target="#chart_tab_content" type="button" role="tab" aria-controls="chart_tab_content" aria-selected="false" style="border-bottom-right-radius: 0;">
                            Charts and Statistics
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="tab_button nav-link" id="web_scraping_tab" data-bs-toggle="tab" data-bs-target="#web_scraping_tab_content" type="button" role="tab" aria-controls="web_scraping_tab_content" aria-selected="false" style="border-bottom-right-radius: 0;">
                            Web Scraping Results
                        </button>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="tab_content">
                <div id="graph_tab_content" class="container tab-pane fade show active" role="tabpanel" aria-labelledby="graph_tab">
                    <div id="graph" style="text-align: center">
                        <p style="margin-top:20px; font-style: italic"> The computed graph will appear here.</p>
                    </div>
                </div>
                <div id="chart_tab_content" class="container tab-pane fade" role="tabpanel" aria-labelledby="chart_tab">
                    <div id="stats" style="display: none"></div>
                    <div id="chart" style="text-align: center;">
                        <p style="margin-top:20px; font-style: italic"> The computed charts and statistics will appear here.</p>
                    </div>
                </div>
                <div id="web_scraping_tab_content" class="container tab-pane fade" role="tabpanel" aria-labelledby="web_scraping_tab">
                    <div id="web_scraping">

                    </div>
                </div>
            </div>

        <script>
            set_height()
        </script>


        </div>
    </div>

{% endblock main_content %}