<h5 style="margin-bottom: 40px; margin-top: 10px; width: 100%; text-align: center">
    Tagged Addresses according to <a href="https://walletexplorer.com" style="color: #c4dce8">WalletExplorer.com</a>
</h5>
<table id="stats_table" class="table">
    <tr>
        <th>Tag</th>
        <th>BTC from the root add. </th>
        <th> Closeness<span style="color:red">*</span> to these tags</th>
    </tr>

    {% for key, value in data.items %}
        <tr class="stat_tagged" style="width: 100% ; margin-bottom: 10px; color: aliceblue">
            <td><a target="_blank" style="color: #79b7d3" href="https://www.walletexplorer.com/wallet/{{ key }}">{{ key }}</a></td>
            <td>{{ value.rto }} BTC (<i>{{ value.percentage }}%</i>)</td>
            <td>
                {% for layer, percentage in value.closeness.items %}
                    <span style='color:#79b7d3'>{{ layer }}</span> - {{ percentage }}%{% if forloop.counter < value.closeness|length %}%&nbsp;&nbsp;|&nbsp;&nbsp;{% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>
<div class="info_note">
    <span style="color:red">*</span>Closeness of <span style="color:#79b7d3">0</span> means that this address has received a direct transaction from that service.
    <br>
    Closeness of <span style="color:#79b7d3">1</span> means there has been one transaction in between, and so on.
</div>