{% load static %}
{% include file_name %}

<div id="graph_legend">
    <img src="{% static 'plots/graph_legend.png' %}" style="width: 90%; height:auto">
    <button class="btn btn_submit mt-2 mb-2" id="download_svg" onclick="download_svg()">Download Transaction Graph</button>
    <script>
        function download_svg() {
            let svg_content = $('#graph svg').prop("outerHTML");
            let blob = new Blob([svg_content], {
                type: "text/plain;charset=utf-8"
            });

            saveAs(blob, 'transaction_graph.svg');
        }
    </script>
</div>

<div id="reported_addresses">
    <h5 style="margin-bottom: 10px; margin-top: 10px">
        Reports posted on <a href="https://bitcoinabuse.com" style="color: #c4dce8" target=”_blank”>BitcoinAbuse.com</a>
    </h5>
    <div id="reported_addresses_div">
        <div id="reported_address_info" class="info_note" style="margin-bottom: 50px">
            In order to check an address, click on the RTO field of a transaction on the graph to check whether or not
            its input address has been reported.
        </div>
    </div>
</div>