/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
  height: 100%;
}

/* Main row */
#main_row {
  height:100%;
  width: 100%;
  margin-right:0;
  margin-left:0;

}


/* Left column */
#left_col {
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  border-right: solid 2px #fa9d4b;
}


/* Submit Button(s) */
.btn_submit {
  background-color: #dea666;
  color: aliceblue;
}


/* OUTPUT TERMINAL */
#terminal_output_div {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  /*max-width: 400px;*/
}

#terminal_output {
  background-color: #000000;
  color: #ffffff;
  font-size: 13px;
  font-family: monospace;
  min-height: 145px;
  max-height: 400px;
  padding-left: 1rem;
}


/* LOADING/WAITING BARS */
#progress_div, #waiting_div {
  display:None;
}

#waiting_div {
  margin-top: 16px;
}

#progress_bar_div, #waiting_bar_div {
  width: 100%;
  background-color: aliceblue;

  border-radius: 2px;
}

#progress_bar_div {
  border: 1px solid green;
}

#waiting_bar_div {
  border: 1px solid #dea666;
}

#progress_bar {
  width: 1%;
  height: 30px;
  background-color: green;
}

#waiting_bar {
  width: 1%;
  height: 30px;
  background-color: #dea666;
}

#p_waiting_message {
  font-style: italic;
  font-size: 14px;
  text-align: center;
  margin-bottom: 4px;
}



/* TABS */
button.tab_button {
  border-radius: 0 !important;
  /*border-top-right-radius: 0 !important;*/
  color: aliceblue !important;
}


button.tab_button.active {
  background-color: #dea666 !important;
  border-bottom: 2px solid #dea666 !important;

}

button.tab_button {
  border-bottom: 2px solid lightslategray !important;
}


#tab_content {
  overflow: auto;
  box-sizing: border-box;
  padding-top: 10px;
}



.chart {
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 2px solid #dea666;
}

.chart img {
  width: 80%;
  height: auto;
  margin-bottom: 40px;
}


/* Graph links */
svg a text, svg a {
  fill: blue; /* Even for text, SVG uses fill over color */
  text-decoration: underline;
}

svg a:hover, svg a:active {
  outline: dotted 1px blue;
}

svg text.BA_search {
  font-style: italic;
  fill: #264b5d;
}

svg text.BA_search:hover, svg text.BA_search:active{
  cursor: pointer;
  font-style: italic;
  fill: #52859d;
  outline: dotted 1px blue;
}



/* Reported addresses div in tree.html*/
#reported_addresses {
  width: 100%;
  padding-bottom: 40px;
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 2px solid #dea666;
}

.report_div {
  width: 100%;
  text-align: left;
  border-top: 1px solid #DCDCDC;
  margin-bottom: 20px;
  padding-top: 10px;

}

.report_span {
  color: #c4dce8;
}


.report_colour, .address_colour {
  color: #79b7d3;
}



#stats {
  padding-bottom: 50px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #dea666;
}



.info_note {
  font-style: italic;
  font-size: 14px;
  text-align: center;
}


.scrape_category {
  width: 100%;
}

.div_hr {
  width: 80%;
  margin: auto auto 40px;
  border-bottom: 2px solid aliceblue;
}

.web_scraping_title_span {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 8px;
}